<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="static/CSS/styles.css">
    <script src="static/JS/script.js" defer></script>
    <title>Page comptable</title>
</head>
    <body>
        <div id="boutons_vues_comptables">
            <button><a href="formulaire_jour">Liste détaillée</a></button>
            <button><a href="formulaire_mois">Total par jour sur un mois</a></button>
            <button><a href="formulaire_annee">Total mois apr mois sur une année</a></button>
            <button><a href="liste_abonnements">Liste des abonnements</a></button>
            <button><a href="nombre_moyen_exemplaires">Nombre moyen d'exemplaires vendus</a></button>
            <button><a href="personnes_presentes">Liste des personnes présentes par heure</a></button>
            <button><a href="nombre_moyen_personnes">Nombre moyen des personnes présentes/heure par jour de la semaine(sur 4 semaines)</a></button>
        </div>
    </body>
</html>