<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sélectionner une année </title>
</head>
    <body>
    <div class="class_inline" id="formulaire_annee">
                <form method="post">
                    <div class="champs_formulaire">
                        <div class="saisies_formulaire">
                            <span class="titres_formulaire">Année séléctionnée</span>
                            <input type="number" class="saisies_formulaire" id="annee_transaction" name="annee_transaction" min="2020" max="2022" required>
                        </div>
                        <div class="bouton_submit">
                            <button type="submit" class="button_submit">Sélectionner</button>
                        </div>
                    </div>
                </form>
            </div>
    </body>
</html>