<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sélectionner un mois </title>
</head>
    <body>
    <div class="class_inline" id="formulaire_mois">
                <form method="post">
                    <div class="champs_formulaire">
                        <div class="saisies_formulaire">
                            <span class="titres_formulaire">Mois séléctionné</span>
                            <input type="number" class="saisies_formulaire" id="mois_transaction" name="mois_transaction" min="01" max="12" required>
                        </div>
                        <div class="bouton_submit">
                            <button type="submit" class="button_submit">Sélectionner</button>
                        </div>
                    </div>
                </form>
            </div>
    </body>
</html>