<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="static/CSS/styles.css">
    <script src="static/JS/script.js" defer></script>
    <title>Page POS</title>
</head>
<!--Page POS-->
    <body>
        <!--3 boutons pour accéder aux différentes vues  -->
        <div id="boutons_vues">
            <button type="button" onclick="marchandises()">Achats divers</button>   <!--Bouton achat divers -->
            <button type="button" onclick="abonnements()">Abonnements</button>      <!--Bouton abonnements -->
            <button type="button" onclick="membres()">Membres</button>              <!--Bouton membres-->
        </div>

        <!--Bouton pour ajouter des marchandises-->
        <button class="class_inline" type="button" id="bouton_marchandises" onclick="ajouter_marchandises()">Acheter marchandises</button>

        <!--Bouton pour acheter un abonnement-->
        <button class="class_inline" type="button" id="bouton_abonnement" onclick="ajouter_abonnement()">Acheter abonnement</button>
        <!--Formulaire pour ajouter un abonnement à un membre -->
        <div class="class_inline" id="formulaire_abonnement">
            <form action= "/ajouter_abonnements" method="post">
                <div class="champs_formulaire">
                    <div class="saisies_formulaire">
                        <span class="titres_formulaire">Id Membre</span>
                        <input type="number" class="saisies_formulaire" id="id_membre" name="id_membre" required>
                    </div>
                    <div class="saisies_formulaire">
                        <span class="titres_formulaire">Abonnement</span>
                        <select class="saisies_formulaire" id="seances_totales" name="seances_totales">
                            <option value="10">10</option>
                            <option value="20">20</option>
                            <option value="30">30</option>
                        </select>
                    </div>
                    <div class="bouton_submit">
                        <button type="submit" class="button_submit">Ajouter</button>
                    </div>
                </div>
            </form>
        </div>

        <!--Formulaire pour ajouter une marchandises à un membre -->
        <div class="class_inline" id="formulaire_marchandises">
            <form action= "/ajouter_marchandises" method="post">
                <div class="champs_formulaire">
                    <div class="saisies_formulaire">
                        <span class="titres_formulaire">Id Membre</span>
                        <input type="number" class="saisies_formulaire" id="id_membre" name="id_membre" required>
                    </div>
                    <div class="saisies_formulaire">
                        <span class="titres_formulaire">Marchandises</span>
                        <select class="saisies_formulaire" id="marchandises" name="marchandises">
                            <option value="Eau">Eau</option>
                            <option value="Boisson énergisante">Boisson énergisante</option>
                            <option value="Coca">Coca</option>
                            <option value="Jus">Jus</option>
                        </select>
                    </div>
                    <div class="saisies_formulaire">
                        <span class="titres_formulaire">Quantités</span>
                        <select class="saisies_formulaire" id="quantites" name="quantites">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                    </div>
                    <div class="bouton_submit">
                        <button type="submit" class="button_submit">Ajouter</button>
                    </div>
                </div>
            </form>
        </div>

        <!--Vue des achats divers-->
        <div class="class_inline" id="vue_achats_divers"></div>


        <!--Bouton pour ajouter un abonnement -->
        <button class="class_inline" type="button" id="bouton_abonnement" onclick="ajouter_abonnement()">Ajouter abonnement</button>
        <!--Bouton pour ajouter une séance -->
        <button class="class_inline" type="button" id="bouton_seances" onclick="ajouter_seances()">Ajouter des séances</button>
        <!--Formulaire pour ajouter une séance à un abonnement (et donc décrémenter le nbre de séances dispo -->
        <div class="class_inline" id="formulaire_seances">
            <form action= "/ajouter_seances" method="post">
                <div class="champs_formulaire">
                    <div class="saisies_formulaire">
                        <span class="titres_formulaire">Id Membre</span>
                        <input type="number" class="saisies_formulaire" id="id_membre" name="id_membre" required>
                    </div>
                    <div class="saisies_formulaire">
                        <span class="titres_formulaire">Nombre de séances</span>
                        <select class="saisies_formulaire" id="seances_choisies" name="seances_choisies">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                        </select>
                    </div>
                    <div class="bouton_submit">
                        <button type="submit" class="button_submit">Ajouter</button>
                    </div>
                </div>
            </form>
        </div>

        <!--Vue des abonnements-->
        <div class="class_inline" id="vue_abonnements"></div>

        <!--Bouton pour ajouter un membre-->
        <button class="class_inline" type="button" id="bouton_nouveau_membre" onclick="ajouter_membre()">Ajouter membre</button>
        <!--Vue des membres-->
        <div  id="vue_membres"></div>
        <!--Formulaire pour ajouter un membre-->
        <div class="class_inline" id="formulaire_inscription">
            <form action= "/POSpage" method="post">
                <fieldset>
                    <legend>Inscription</legend>
                <div class="champs_formulaire">
                    <div class="saisies_formulaire">
                        <span class="titres_formulaire">Nom</span>
                        <input type="text" class="saisies_formulaire" id="nom" name="nom" minlength="2" maxlength="50" required>
                    </div>
                    <div class="saisies_formulaire">
                        <span class="titres_formulaire">Prenom</span>
                        <input type="text" class="saisies_formulaire" id="prenom" name="prenom" minlength="2" maxlength="50" required>
                    </div>
                    <div class="saisies_formulaire">
                        <span class="titres_formulaire">Date de naissance</span>
                        <input type="date" class="saisies_formulaire" id="date_naissance" name="date_naissance" required>
                    </div>
                    <div class="saisies_formulaire">
                        <span class="titres_formulaire">Rue</span>
                        <input type="text" class="saisies_formulaire" id="rue" name="rue" minlength="2" maxlength="50" required>
                    </div>
                    <div class="saisies_formulaire">
                        <span class="titres_formulaire">Numéro de rue</span>
                        <input type="number" class="saisies_formulaire" id="numero_rue" name="numero_rue" min="1" required>
                    </div>
                    <div class="saisies_formulaire">
                        <span class="titres_formulaire">Code Postal</span>
                        <input type="number" class="saisies_formulaire" id="code_postal" name="code_postal" placeholder="Ex : 6000" required>
                    </div>
                    <div class="saisies_formulaire">
                        <span class="titres_formulaire">Localité</span>
                        <input type="text" class="saisies_formulaire" id="localite" name="localite" placeholder="Charleroi" required>
                    </div>
                    <div class="saisies_formulaire">
                        <span class="titres_formulaire">Numéro de téléphone</span>
                        <input type="number" class="saisies_formulaire" id="numero_telephone" name="numero_telephone" placeholder="Ex : 0473211983" required>
                    </div>
                    <div class="bouton_submit">
                        <button type="submit" class="button_submit">Enregistrer</button>
                    </div>
                </div>
                </fieldset>
            </form>
        </div>

    </body>
</html>